# MacOS

.DS_Store

# Node.js dependencies

node_modules
.yarn/\*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Log files

\*.log

# Build directories

dist/
build/
out/

# Environment files

\*.env

# Docker files

Dockerfile
.dockerignore

# Documentation

\*.md

# IDE configuration directories

.vscode/
.idea/

# Git files

.git/
.gitignore

# Code coverage reports

coverage/
