.DS_Store
.prettierrc

node_modules

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
pnpm-debug.log*
package-lock.json

# Editor directories and files
.vscode

# asset files
*.ai
*.xd

TestAnime*

dist
dev-dist
