:root {
  --text-900: 210 29% 10%;
  --text-800: 210 20% 20%;
  --text-700: 210 20% 30%;
  --text-600: 210 20% 40%;
  --text-500: 210 20% 50%;
  --text-400: 210 20% 60%;
  --text-300: 210 20% 70%;
  --text-200: 210 20% 80%;
  --text-100: 210 20% 90%;

  --theme-900: 343 94% 10%;
  --theme-800: 343 94% 20%;
  --theme-700: 343 94% 30%;
  --theme-600: 343 94% 40%;
  --theme-500: 343 94% 50%;
  --theme-400: 345 84% 65%;
  --theme-300: 343 72% 70%;
  --theme-200: 343 74% 79%;
  --theme-100: 343 75% 87%;
  --theme-50: 343 75% 95%;

  --bg-900: 233 8% 15%;
  --bg-800: 233 8% 30%;
  --bg-700: 233 8% 45%;
  --bg-600: 233 8% 55%;
  --bg-500: 233 8% 65%;
  --bg-400: 233 8% 75%;
  --bg-300: 233 8% 85%;
  --bg-200: 229 8% 95%;
  --bg-100: 0 0% 100%;

  --chart-palette-1: hsl(var(--theme-700));
  --chart-palette-2: hsl(var(--theme-600));
  --chart-palette-3: hsl(var(--theme-500));
  --chart-palette-4: hsl(var(--theme-400));
  --chart-palette-5: hsl(var(--theme-300));
  --chart-palette-6: hsl(var(--theme-200));
  --chart-palette-7: hsl(var(--theme-100));

  --level-color-baby: 39 100% 50% / 0.3;
  --level-color-traveler: 219 100% 56% / 0.2;
  --level-color-braver: 192 100% 50% / 0.2;
  --level-color-idol: 125 100% 20% / 0.5;
  --level-color-impact: 19 100% 50% / 0.3;
  --level-color-influencer: 337 100% 50% / 0.5;
  --level-color-aniphile: 9 100% 45% / 0.3;
  --level-color-expert: 278 100% 50% / 0.5;
}

#app {
  --header-content: var(--text-100);
  --header-content-fill: var(--text-800);

  --point-700: 36, 100%, 45%;
  --point-500: 36, 100%, 50%;

  --toggle-true: 209, 100%, 50%;
  --toggle-mixed: hsl(var(--theme-500));

  --curation-icon: hsl(var(--bg-900));
  --snack-bar-gradient: linear-gradient(
    transparent,
    hsl(var(--text-900) / 0.3)
  );

  --anime-layout-bg: hsl(var(--bg-200));
  --anime-layout-text: hsl(var(--text-900));
  --anime-layout-episodes: hsl(var(--bg-100));
  --anime-layout-parts: hsl(var(--text-800) / 0.1);
  --anime-layout-shade: hsl(var(--bg-200));

  --anime-item-head-700: 288, 79%, 7%;
  --anime-item-head-500: 288, 79%, 10%;
  --anime-item-head-300: 288, 79%, 13%;
  --overflow-btn-pc: hsla(0, 5%, 95%, 0.7);

  --anime-item-head-opacity-700: hsla(288, 79%, 7%, 100%);
  --anime-item-head-opacity-500: hsla(288, 79%, 7%, 80%);
  --anime-poster-load-700: hsl(var(--anime-item-head-500));
  --anime-poster-load-500: hsl(var(--anime-item-head-300));

  --anime-wanna-see: hsl(var(--text-800));
  --anime-wanna-see-enabled: 335, 100%, 50%;

  --top-item: #fff;
  --episodes: #fff;
  --episodes-part-info: rgb(255, 255, 255);
  --anime-genre: rgba(255, 255, 255, 0.8);

  --new-review: hsl(var(--bg-200));
  --chart-legend: hsl(var(--bg-200));
  --modal-shadow: rgba(0, 0, 0, 0.15);
  --overflow-gradient: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.95) 1%,
    transparent,
    rgba(255, 255, 255, 0.95) 99%
  );
  --thumbnail-current-bg: hsla(210, 20%, 20%, 0.8);
  --player-aside-bg: 210, 29%, 10%;
  --toggle-box-false: 210, 20%, 20%;
  --mini-episode-current-part: 210, 20%, 20%;
  --mini-episode-scroll-bar: 210, 20%, 70%;
  --toggle-false: 210, 20%, 30%;
  --promotion-bg: 210, 29%, 10%;
  --bottom-tab: hsl(var(--text-800));
  --toggle-shadow: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 0.2rem 0.6rem hsl(var(--bg-900) / 0.15);
  --google-login-text: hsl(210, 20%, 20%);
  --gender-male: 214, 91%, 55%;
  --gender-female: 342, 91%, 55%;

  --general-bg: hsl(var(--bg-200));

  --message-safe: 103, 76%, 43%;
}

#app[data-theme="dark"],
#app[data-theme="dark"] + * {
  --header-content: var(--text-800);

  --text-900: 210 20% 95%;
  --text-800: 210 20% 90%;
  --text-700: 210 20% 70%;
  --text-600: 210 20% 60%;
  --text-500: 210 20% 50%;
  --text-400: 210 20% 40%;
  --text-300: 210 20% 30%;
  --text-200: 210 20% 20%;
  --text-100: 210 29% 10%;

  --bg-900: 229 2% 94%;
  --bg-800: 233 4% 83%;
  --bg-700: 235 6% 66%;
  --bg-600: 235 8% 45%;
  --bg-500: 236 12% 32%;
  --bg-400: 236 16% 24%;
  --bg-300: 235 20% 16%;
  --bg-200: 233 24% 8%;
  --bg-100: 234 28% 1%;

  --curation-icon: hsl(var(--bg-200));
  --snack-bar-gradient: linear-gradient(
    transparent,
    hsl(var(--text-100) / 0.3)
  );

  --anime-item-head-700: 288 79% 3%;
  --anime-item-head-500: 288 79% 5%;
  --anime-item-head-300: 288 79% 7%;
  --overflow-btn-pc: hsla(0 5% 10% / 0.7);

  --top-item: hsl(var(--bg-200));
  --episodes: hsl(var(--bg-300));
  --episodes-part-info: 0, 0%, 0%, 0.8;
  --anime-genre: hsla(0, 5%, 13%, 0.8);

  --anime-layout-bg: hsl(234 68% 1%);
  --anime-layout-text: hsl(0, 0%, 100%);
  --anime-layout-episodes: hsl(var(--bg-200));
  --anime-layout-parts: hsl(var(--text-800) / 0.1);

  --box-shadow: none;
  --overflow-gradient: linear-gradient(
    90deg,
    hsl(var(--top-item)),
    transparent,
    hsl(var(--top-item))
  );
  --new-review: hsl(var(--bg-100));
  --chart-legend: hsl(var(--bg-100));

  --general-bg: hsl(var(--bg-100));
}
