:root {
  --text-900: hsl(210, 29%, 10%);
  --text-800: hsl(210, 29%, 20%);
  --text-700: hsl(210, 29%, 30%);
  --text-600: hsl(210, 29%, 40%);
  --text-500: hsl(210, 29%, 50%);
  --text-400: hsl(210, 29%, 60%);
  --text-300: hsl(210, 29%, 70%);
  --text-200: hsl(210, 29%, 80%);
  --text-100: hsl(210, 29%, 90%);

  --theme-900: hsl(0, 68%, 10%);
  --theme-800: hsl(0, 68%, 20%);
  --theme-700: hsl(0, 68%, 30%);
  --theme-600: hsl(0, 68%, 40%);
  --theme-500: hsl(0, 68%, 50%);
  --theme-400: hsl(0, 68%, 60%);
  --theme-300: hsl(0, 68%, 70%);
  --theme-200: hsl(0, 68%, 80%);
  --theme-100: hsl(0, 68%, 95%);

  --bg-900: hsl(0, 5%, 15%);
  --bg-800: hsl(0, 5%, 25%);
  --bg-700: hsl(0, 5%, 35%);
  --bg-600: hsl(0, 5%, 45%);
  --bg-500: hsl(0, 5%, 55%);
  --bg-400: hsl(0, 5%, 65%);
  --bg-300: hsl(0, 5%, 75%);
  --bg-200: hsl(0, 5%, 85%);
  --bg-100: hsl(0, 5%, 95%);
}
