@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700;900&display=swap");
@import url("./color.scss");
html,
body,
header,
nav,
main,
aside,
section,
article,
figure,
figcaption,
footer,
div,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
ul,
li,
ol,
i,
strong,
form,
fieldset,
input,
legend,
button,
label,
img,
svg {
  margin: 0;
  padding: 0;
  border: none;
  color: var(--text-800);
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1;
  letter-spacing: -0.03vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  word-break: keep-all;
}
header,
nav,
main,
aside,
section,
article,
footer {
  display: block;
}
html {
  font-size: 0.625em;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
button {
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}
ul,
li {
  list-style: none;
}
img {
  vertical-align: middle;
}
.blind {
  clip: rect(1px 1px 1px 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
.inner {
  padding: 0 5rem;
}
*:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .inner {
    padding: 0 2rem;
  }
}
